<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iris.blog.dao.mapper.SysConfigMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.iris.blog.dao.entity.SysConfigEntity" id="sysConfigMap">
        <result property="id" column="id"/>
        <result property="paramCode" column="param_code"/>
        <result property="paramValue" column="param_value"/>
        <result property="paramType" column="param_type"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>